<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Size">

<select id="selectAll" resultType="Size">
select size_id,size_name from size  
</select>

<select id="selectByProductId" parameterType="int" resultType="Size">
SELECT size_id,size_name FROM SIZE WHERE 1=1 
AND size_id IN (SELECT size_id 
FROM product_size
WHERE 1=1 
AND product_id = #{product_id}); 
</select>

</mapper>